@use '../../base';

main#home-page {
    display: grid;
    grid-template-rows: 1fr 2fr;
    background-color: lighten(base.$siteBackColor, 10%);
    color: base.$siteTextColor;
    padding: 1em;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1em;
    border-top: 1px solid base.$siteBorderColor;
}

section.content {
    padding: .5em;
}

section.photo {
    width: 98%;
}

div.frame {
    margin: auto;
    border: solid 2px base.$siteBorderColor;
    padding: 3px;
    width: 280px;
    height: 350px;
    background-color: darken(base.$siteAccentColor, 5%);
    @include base.prefix(box-shadow, 0 0 5px base.$boxShadow, moz webkit);

    
}

.photo .frame img {
    margin:0;
    padding: 0;
    border: thin base.$boxShadow;
    width: 100%;
    height: auto;
}

article h3 {
    color: base.$siteHeadingColor;
    font-size: larger;
    font-weight: bold;
    letter-spacing: .012em;
    margin: .25em 0 1em 0;
}

article p {
    padding: 0 .5em;
}


@media (min-width: 768px) {
    main#home-page {
        width: 90%;
        margin: auto;
        display: grid;
        grid-template-columns: 2fr 1fr;
        //justify-items: center;
    }


}  

@media (min-width: 1440px) {
    main#home-page {
        width: 80%;
        margin: auto;
        display: grid;
        grid-template-columns: 1fr 1fr;
        //justify-items: center;
    }


    div.frame {
        margin: auto;
        border: solid 2px base.$siteBorderColor;
        padding: 3px;
        width: 400px;
        height: 500px;
        background-color: darken(base.$siteAccentColor, 5%);
        @include base.prefix(box-shadow, 0 0 5px base.$boxShadow, moz webkit);
    
        
    }
    
    .photo .frame img {
        margin:0;
        padding: 0;
        border: thin base.$boxShadow;
        width: 100%;
        height: auto;
    }
    


}