
div.header-content {
    text-align: left;
    vertical-align: top;
    background-color: #ccc;
    color: #333;
    padding: .5em ;
    grid-area: content;
}

div.header-content h1 {
    color: black;
}

div.header-content h2 {
    color: #666;
}

div.header-content p {
    color: darkgreen;
}

div.header-content p::first-letter {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: x-large;
}