@use '../../base';

#content-container {
    background-color: base.$siteBackColor;
    padding: .5em 1em;
  
    h1 {
      font-size: 2.25em;
      letter-spacing: .05em;
      margin: 0;
      font-weight: 800;
      color: base.$siteHeadingColor;
  
      @include base.dropShadow(darken(base.$siteBackColor, 25%));
    }

    h2 {
        color: darken(base.$siteHeadingColor, 10%);
        margin-top: .75em;
        padding-left: .25em;
    }
  }
  