@use '../../base';

#content-container {
    padding: .5em 1em;
  
    h1 {
      font-family: Philosopher;
      font-size: 2.25em;
      letter-spacing: .05em;
      margin: 0;
      font-weight: 800;
      color: base.$siteHeadingColor;
  
      @include base.dropShadow(base.$siteTextColor, 2px);
    }

    h1 a {
      text-decoration: none;
      color: inherit;

      &:hover {
        color: lighten(base.$siteHeadingColor, 50%);
      }
    }


    h2 {
        font-family: Roboto;
        font-size: small;
        color: darken(base.$siteHeadingColor, 10%);
        margin-top: .5em;
        padding-left: 2.3em;
        letter-spacing: .1em;
        font-weight: normal;
    }
  }
  