@use '../../../base';

.main-menu {
    position: absolute;
    transition: right 0.3s ease,
                box-shadow 0.3s ease;
    z-index: 999;
    height: 100%;
    width: 100%;
    justify-content: right;


}

/*
 On small devices, allow it to toggle...
*/
/*
 :target for non-JavaScript
 [aria-expanded] will be used if/when JavaScript is added to improve interaction, though it's completely optional.
*/
.main-menu:target,
.main-menu[aria-expanded="true"] {
  display: block;
  outline: none;
  @include base.prefix(box-shadow, 0 0 3px base.$boxShadow, moz webkit);
  
}

@media (min-width: 768px) {
    
      /* Undo positioning of off-canvas menu */
    .main-menu {
        display: block;
        position: relative;
        left: auto;
        @include base.prefix(box-shadow, none !important, moz webkit);
    }


  }
