@use '../base';

header {
    position: sticky;
    top: 0;
    background-color: base.$siteBackColor;
    display: grid;
    grid-template-columns: 3fr  1fr;
    border-bottom: 3px ridge lighten(base.$siteBorderColor, 30%);
    min-height: 8vh;
 }
  
#content-container {
    grid-column: 1;
}

@media (min-width: 768px) {
    header {
        padding: 0;
        margin: 0;
    }
}  