@use '../base';

header {
    background-color: base.$siteBackColor;
    display: grid;
    grid-template-columns: 3fr  1fr;
    
 }
  
#content-container {
    grid-column: 1;
}

@media (min-width: 768px) {
    header {
        padding: 0;
        margin: 0;
    }
}  