@use '../base';

footer {
    position: sticky;
    bottom: 0;
    background-color: base.$siteBackColor;
    padding: .5em 1em;
    font-size: smaller;
    border-top: 1px solid base.$siteBorderColor;
}