@use '../../../base';

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rec(0,0,0,0);
    border: 0;
  }
  
  button.menu-toggle {
      display: block;
      margin-left: auto;
      margin-right: .5em;
      margin-top: .5em;
      border: 0;
      padding: 2px;
      line-height: 1em;
      font-size: 1em;
      color: base.$siteLinkColor;
      background-color:inherit;

      &:focus, &:hover {
        outline: 0;
        border: 0;
      }

      &:hover {
        color: base.$siteLinkHover;
      }
  }
  
    
  @media (min-width: 768px) {
     
      .menu-toggle,
      .main-menu .menu-close {
          display: none;
      }
  }  